@mixin color_class($color) {
  .#{$color} {
    color: $color;
    background: $color;
    @if $color == red {
      border-color: complement($color);
    }
  }
}

@mixin box($width) {
  height: 100px;
  width: $width;
  @if $width > 50px {
    border: 1px solid black;
  } @else if $width > 100px {
    //do whatever
  } @else {
    border: 10px solid black;
  }
}

div {
  @include box(100px);
}

@include color_class(red);
@include color_class(blue);
@include color_class(green);
@include color_class(grey);

.container {
  width: 100%;
  height: auto;
  border: 0;
  div {
    width: auto;
    height: 10px;
    border: 1px solid black;
  }
}

@for $i from 1 through 51 {
  .box:nth-child(#{$i}) {
    background: darken(white, $i);
  }
}

//list sample with ...
@mixin group($groupName, $members...) {
  @each $member in $members {
    .#{$groupName}.#{$member} {
      background: url("images/#{$groupName}/#{$member}.jpg");
    }
  }
}

@include group(chipmunks, alvin, simon, theodore);

//list sample within sass without ...
@mixin group($groupName, $members) {
  @each $member in $members {
    .#{$groupName}.#{$member} {
      background: url("images/#{$groupName}/#{$member}.jpg");
    }
  }
}

@include group(chipmunks, alvin simon theodore);

//advanced mixin arguments
@mixin otherBox($size: 50px, $color: red, $display: blocked) {
  width: $size;
  height: $size;
  background: $color;
  display: $display;
}

.otherBox {
  @include otherBox(100px, blue);
  @include otherBox();
}
