div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

@mixin color_class($color) {
  .#{$color} {
    color: $color;
    background: $color;
  }
}

@include color_class(red);
@include color_class(blue);
@include color_class(green);
@include color_class(grey);
