$primary-color: #369;
$margin: 10px;
$padding: $margin + 1.5;

@mixin roundy {
  // border-radius: 4px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

 body {
   background: $primary-color;
   font-family: Verdana, "Trebuchet MS", sans-serif;
   > h1 {
     color: #eee;
     font-size: 3em;
     margin: $margin 0 0 $margin;
   }
 }

 .entry {
   @include roundy;

   background: white;
   margin: $margin;
   padding: $padding;
   h1 {
     font-size: 1.2em;
     margin: 0px;
   }
   .date {
     font-size: 0.3em;
     color: $primary-color;
   }
   a {
     color: $primary-color;
   }
 }
